/*CORES: #557B83 #39AEA9 #A2D5AB #E5EFC1 #FFA054 #FFB577 #D5AE88 #FBDEC2*/ 

/* principal */
html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../images/background.jpg');
    height: 100%;
    max-width: 60%;
    text-align: center;
    margin: auto;
    font-family: 'Overpass Mono', monospace;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

/* inicio mobile */
@media (max-width: 900px) {
    
    body {
        max-width: 90%;
    }
    .web {
        display: none;
    }
    .perfil-container  h2, h3 {
        text-align: center;
    }

    .perfil-container p {
        text-align: center;
        font-size: 12px;
    }

    p {
        margin: 0; 
    }

    h3 #curriculo {
        text-align: left;
        font-size: 20px;
    }

    h4 {
        text-align: left;
        margin: 20px 0 0 0;
        font-size: 18px;
        color:#E5EFC1;
        text-transform: uppercase;
        text-decoration: underline;
    }

    .descricao {
        color: #FFFFFF;
        font-size: 12px;
        padding-left: 10px;    
    }
    
    li {
        margin: 0;
        font-size: 12px;
    }

    .formacao .titulo, .descricao {
        text-align: left;
    }

    .curso-ano {
        text-decoration: underline;
    }

    ul {
        padding: 0;
        text-align: center;
    }

    ol {
        margin: 5px;
    }

    .link-projetos img {
        max-width: 150px;
    }

    .projetos li {
        /*display: inline;*/
        width: 30%;
        border: 1px;
        list-style: none;
        margin:auto;
    }

    .rodape h3 {
        font-size: 18px;
    }

    nav li {
        list-style: none;
        margin: auto;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
    }

} 
/* fim mobile*/

/* só web */
@media (min-width: 900px) {
    .mobile {
        display: none;
    }

    .projetos li {
        display: inline-block;
        width: 30%;
        border: 1px;
    }

    #botao-enviar {
        width: 30%;
    }


    nav li {
        display: inline;
        margin: auto;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
    }
}
/* fim web */

/* comuns */
a {
    color: #E5EFC1;
    text-decoration: none;
    font-weight: bold;
}

.lista-cursos a:hover, .formacao a:hover {
    background-color: #557B83;
}

h3 {
    margin: 0;
    font-size: 25px;
    color: #FBDEC2;
}

table {
    border: 1px solid #E5EFC1;
    margin: auto;
    padding: 10px;
    width: 95%;
    
}

/* header */
.menu {
    margin: 1em 1em 0 1em;
    background-color: #22515A;
    padding: 10px;
    color: #E5EFC1;
}
/*
nav li {
    display: inline;
    margin: auto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
*/

nav a:hover {
    background: #A2D5AB;
    color: #22515A;
}

.item:before {
    font-size: 15px;
    content: " >> ✳ ";
    color: #A2D5AB;
}

.item:after {
    font-size: 15px;
    content: " ✳ << ";
    color: #A2D5AB;
}

.perfil-container, .contato-container {
    /*border: 1px solid black;*/
    background-color: #557B83;
    margin: 0 1rem;
    padding: 20px; 
    text-align: center;
}

.conteudo-perfil, .contato {
    display: inline-block;
    /*border: 1px solid red;*/
    padding: 10px;
    vertical-align: bottom;
    text-align: left;
    max-width: 60%
}

.conteudo-perfil img {
    border: 2px dashed #E5EFC1;
}

.conteudo-perfil h2, .contato h2 {
    font-size: 30px;
    margin: 3px;
    color: #E5EFC1;
}

.conteudo-perfil p {
    margin: 5px;
    color: #A2D5AB;
}

.conteudo-perfil .oi {
    font-size: 18px;
    color: #22515A;
}

/* MAIN */

.curso-ano {
    font-size: 18px;
    font-weight: lighter;
    color: #E5EFC1;
}

.campo-titulo {
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    /*margin-right: 50px;*/
    text-align: right;
    vertical-align: top;
    text-transform: uppercase;
}

/* Formação */

.formacao {
    background-color: #39AEA9;
    margin: 1rem;
    padding: 20px;
    text-align: center;
}

.formacao a {
    color: #FBDEC2;
}

.formacao .campo-titulo {
    color: #E5EFC1;
}

.formacao .campo-descricao {
    text-align: left;
    padding: 10px;
    color: #FFFFFF;
    vertical-align: top;
}

.formacao h3 {
    text-align: right;
} 

/* Cursos e certificados */
.cursos-certificados {
    background-color: #A2D5AB;
    margin: 1rem;
    padding: 20px;
    text-align: center;
    
}
.cursos-certificados h3 {
    text-align: left;
    color: #557B83;
}
    
.cursos-certificados .campo-titulo {
    color: #FFFFFF;
}

.cursos-certificados .campo-descricao {
    text-align: left;
    padding: 10px;
    color: #FFFFFF;
    vertical-align: top;
}

.cursos-certificados .lista-cursos {
    color: #38737B;
    font-size: 13px;
}

.cursos-certificados a {
    color: #22515A;
}

.santa-casa {
    font-size: 14px;
}

/* projetos */

.projetos {
    background-color: #557B83;
    color:#E5EFC1;
    padding: 10px;
    margin: 1rem 1rem 0 1rem;
    padding: 20px;
}

.projetos h3 {
    text-align: right;
    color: #E5EFC1
}

hr {
    width: 95%;
    border-style: none;
    height: 2px;
    background-color: #E5EFC1;
}



.img-projetos {
    max-width: 200px;
}

.link-projetos a:hover {
    color: #557B83;
    background-color: #A2D5AB;
    text-transform: uppercase;
    font-size: 20px;
}

/* rodape */

footer {
    margin: 0 1rem;
    background-color: #39AEA9;
    margin: 0 1rem 1rem 1rem;
    padding: 20px;
    text-align: center;
}

.rodape {
    color:#FFFFFF;
}


/* contato */
#titulo-contato {
    text-shadow: 2px 2px #39AEA9;
}

.form-label {
    color: #FBDEC2;
}

::placeholder {
    color:#39AEA9;
}

textarea {
    resize: none;
}

input, textarea {
    font-family: 'Overpass Mono', monospace;
    width: 100%;
    padding: 10px;
    background: #E5EFC1;
    border: none;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}


#botao-enviar {
    cursor: pointer;
    float: right;
    color: #557B83;
    font-weight: bold;
    text-transform: uppercase;
}

#botao-enviar:hover {
    background-color: #A2D5AB;
}

/*CORES: #557B83 #39AEA9 #A2D5AB #E5EFC1 #FFA054 #FFB577 #D5AE88 #FBDEC2*/ 
