:root {
    --branco: #FFF;
    
    --verde-petroleo: #22515A;
    --verde-escuro: #557B83;
    --verde-turquesa: #39AEA9;
    --verde-medio: #A2D5AB;
    --verde-claro: #E5EFC1;

    --laranja: #FFA054;
    --laranja-medio: #FFB577;
    --bege: #D5AE88;
    --creme: #FBDEC2;

    --overpass: 'Overpass Mono', monospace;

    --estrela: '\2726';
}

body {
    background-image: url('../img/background.jpg');
    font-family: var(--overpass);
}

.container {
    padding: 8%;
}
